<div class="consulta-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Consulta de NFSe</mat-card-title>
            <mat-card-subtitle>Consulta de notas fiscais de serviço</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div class="filtros-acoes">
                <app-filtro-consulta (consultar)="consultar($event)" />

                @if (ultimaSync(); as ultima) {
                    <span> Útlima Sincronização: {{ ultima | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                }
                <button mat-raised-button type="button" [disabled]="carregando()" (click)="sincronizar()">
                    <mat-icon>sync</mat-icon> Sincronizar NFs-e
                </button>
            </div>

            @if(carregando()){
                <div class="loading-container">
                    <mat-spinner diameter="40"></mat-spinner>
                    <span>Consultando NFSe...</span>
                </div>
            }
            @if(erro()) {
                <div class="erro-container">
                    <mat-icon>error_outline</mat-icon>
                    <span>{{ erro() }}</span>
                </div>
            }
            @if (!carregando() && nfse().length === 0 && filtrosAtuais()) {
                <div class="empty-contanier">
                    <mat-icon>search_off</mat-icon>
                    <h3>Nenhuma NFSe encontrada.</h3>
                    <p>Não encontramos nenhuma NFSe para os filtros informados.</p>
                </div>
            }

            @if(!carregando() && nfse().length > 0) {
                <div class="table-container">
                    <table mat-table [dataSource]="nfse()" class="nfse-table">
                        <ng-container matColumnDef="numero">
                            <th mat-header-cell *matHeaderCellDef>NFS-e</th>
                            <td mat-cell *matCellDef="let nota">{{ nota.n_dfse }}</td>
                        </ng-container>
                        <ng-container matColumnDef="emissao">
                            <th mat-header-cell *matHeaderCellDef>Emissão</th>
                            <td mat-cell *matCellDef="let nota">{{ nota.dh_emi | date: 'dd/MM/yyyy HH:mm' }}</td>
                        </ng-container>
                        <ng-container matColumnDef="prestador">
                            <th mat-header-cell *matHeaderCellDef>Prestador</th>
                            <td mat-cell *matCellDef="let nota">{{ nota.emit_x_nome }}</td>
                        </ng-container>
                        <ng-container matColumnDef="cpf_cnpj_prestador">
                            <th mat-header-cell *matHeaderCellDef>CPF/CNPJ Prestador</th>
                            <td mat-cell *matCellDef="let nota">{{ nota.emit_cpf_cnpj | document }}</td>
                        </ng-container>
                        <ng-container matColumnDef="tomador">
                            <th mat-header-cell *matHeaderCellDef>Tomador</th>
                            <td mat-cell *matCellDef="let nota">{{ nota.toma_x_nome }}</td>
                        </ng-container>
                        <ng-container matColumnDef="cpf_cnpj_tomador">
                            <th mat-header-cell *matHeaderCellDef>CPF/CNPJ Tomador</th>
                            <td mat-cell *matCellDef="let nota">{{ nota.toma_cpf_cnpj | document }}</td>
                        </ng-container>
                        <ng-container matColumnDef="valor">
                            <th mat-header-cell *matHeaderCellDef>Valor Serviço R$</th>
                            <td mat-cell *matCellDef="let nota">{{ nota.v_serv | currency: 'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef>Status</th>
                            <td mat-cell *matCellDef="let nota">
                                <mat-chip>{{ getAdnStatusLabel(nota.adn_status) }}</mat-chip>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="colunas"></tr>
                        <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
                    </table>
                    <mat-paginator
                        [length]="total()"
                        [disabled]="carregando()"
                        [pageIndex]="paginaAtual()"
                        [pageSize]="tamanhoPagina()"
                        [pageSizeOptions]="[10, 25, 50, 100]"
                        (page)="mudarPagina($event)"
                        showFirstLastButtons
                    ></mat-paginator>
                </div>
            }
        </mat-card-content>
    </mat-card>
</div>
