<form [formGroup]="form" (ngSubmit)="enviar()">
    <div class="filtros">
        <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
                <mat-option value="">Todos</mat-option>

                @for(option of statusOptions; track option.value) {
                    <mat-option [value]="option.value">{{ option.text }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Status ADN (Receita)</mat-label>
            <mat-select formControlName="adnStatus">
                <mat-option value="">Todos</mat-option>

                @for (option of adnStatusOptions; track option.value) {
                    <mat-option [value]="option.value">{{ option.text }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Chave de Acesso</mat-label>
            <input matInput type="text" formControlName="chaveAcesso">
        </mat-form-field>

        <div class="acoes">
            <button matButton="filled" type="submit">Consultar</button>
        </div>
    </div>
</form>
