.filtros {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  align-items: baseline;
  width: 100%;

  mat-form-field {
    --mat-form-field-container-height: 40px;
    --mat-form-field-container-vertical-padding: 6px;
  }
}

.acoes {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .filtros {
    grid-template-columns: 1fr;
  }
}
