<form [formGroup]="form" (ngSubmit)="enviar()">
    <div class="filtros">
        <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
                <mat-option value="">Todos</mat-option>

                @for(option of statusOptions; track option.value) {
                    <mat-option [value]="option.value">{{ option.text }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Status ADN (Receita)</mat-label>
            <mat-select formControlName="adnStatus">
                <mat-option value="">Todos</mat-option>

                @for (option of adnStatusOptions; track option.value) {
                    <mat-option [value]="option.value">{{ option.text }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Data Inicial</mat-label>
            <input matInput [matDatepicker]="dataInicialPicker" formControlName="dataInicial">
            <mat-datepicker-toggle matIconSuffix [for]="dataInicialPicker"></mat-datepicker-toggle>
            <mat-datepicker #dataInicialPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Data Final</mat-label>
            <input matInput [matDatepicker]="dataFinalPicker" formControlName="dataFinal">
            <mat-datepicker-toggle matIconSuffix [for]="dataFinalPicker"></mat-datepicker-toggle>
            <mat-datepicker #dataFinalPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Prestador CPF/CNPJ</mat-label>
            <input matInput formControlName="prestadorCpfCnpj">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Tomador CPF/CNPJ</mat-label>
            <input matInput formControlName="tomadorCpfCnpj">
        </mat-form-field>
        
        <div class="acoes">
            <button matButton="filled" type="submit">Consultar</button>
            <button matButton="filled" type="button" (click)="limpar()">Limpar Filtros</button>
        </div>
    </div>
</form>
